/*---------------------Roots-----------------*/

:root {
    --lightcream: #F4E6D2;
    --black: #492000;
    --lightbrown: #B6734A;
    --paragraph: #A8957C;
    --white: #ffffff;
}

/*---------------------Roots-----------------*/



.footer {
    background: linear-gradient(-90deg, #492000, #683005);
    border-top: 2px solid #ffffff3d;
    box-shadow: 0px -30px 100px #b6734a7c;
    margin-top: 150px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer .container .box h3 {
    color: var(--white);
    font-size: 35px;
}

.footer .container .box nav {
    margin-top: 10px;
}

.footer .container .box nav a {
    display: block;
    color: var(---white);
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
}

.footer .container .box nav a:hover {
    color: var(--lightbrown);
}

.footer .container .box .social {
    display: flex;
    align-items: center;
}

.footer .container .box .social i:hover {
    color: var(--lightbrown);
}


.footer .container .box .social i {
    width: 40px;
    height: 40px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(---white);
    border-radius: 100%;
    margin-top: 10px;
    cursor: pointer;
    z-index: 10;
    margin-right: 5px;
}

.footer .last {
    border-top: 1px solid #ffffff3d;
    margin-top: 30px;
}

.footer .last p {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: "Nunito Sans", sans-serif;
}




@media (max-width:1080px) {
    .footer .container .box h3 {
        font-size: 30px;
    }

    .footer .container .box nav a {
        font-size: 14px;
        line-height: 35px;
        font-weight: 400;
    }
}

@media (max-width:750px) {
    .footer .container {
        flex-wrap: wrap;
    }

    .footer .container .box {
        margin: 10px;
    }

    .footer .container .box h3 {
        font-size: 30px;
    }

    .footer .container .box nav a {
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
    }

    .footer .container .footerlogo {
        width: 120px;
    }

    .footer .container .footerlogo img {
        width: 100%;
    }
}

@media (max-width:450px) {
    .footer .last p {
        font-size: 10px;
    }
    .footer .container #socialmediabox{
        width: 100%;
    }
}