/* Fullscreen loader */
#loader {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

/* Split wrappers */
.split {
  position: absolute;
  top: 0;
  width: 58.8%;
  height: 100%;
  overflow: hidden;
}

.left-split { left: 0; z-index: 10;}
.right-split { right: 0; }

/* Guarantee perfect join (no space, no gap) */
.split img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

/* Loading bar */
.loading-bar-wrapper {
  position: absolute;
  bottom: 150px;
  width: 300px;
  height: 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
  z-index: 100;
}

.loading-bar {
  width: 0%;
  height: 100%;
  background: #ff7a00;
  border-radius: 20px;
  transition: width 2.8s linear;
}

/* Slide Animations */
.left-slide-out {
  transform: translateX(-100%);
  transition: transform 1.2s ease-in-out;
}

.right-slide-out {
  transform: translateX(100%);
  transition: transform 1.2s ease-in-out;
}

/* Fade loading bar */
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}






@media (max-width:650px) {
    .split {
  position: absolute;
  top: 0;
  width: 58.9%;
  height: 100%;
  overflow: hidden;
}
}
