/*---------------------Roots-----------------*/

:root {
    --lightcream: #F4E6D2;
    --black: #492000;
    --lightbrown: #B6734A;
    --paragraph: #A8957C;
}

/*---------------------Roots-----------------*/



.product {
    background: linear-gradient(90deg, #492000, #683005);
}

.product .container {
    padding: 50px 0px;
}

.product .container .allproductlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.product .container .productbox {
    width: 370px;
    background-color: var(--lightcream);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.product .container .productbox .data {
    width: 100%;
    padding: 20px;
}

.product .container .productbox .data .image {
    background-color: var(--paragraph);
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.product .container .productbox .data .image img {
    width: 40%;
}

.product .container .productbox .data .text {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 30px;
}

.product .container .productbox .data .text .leftdata h4 {
    color: var(--black);
    font-size: 30px;
}

.product .container .productbox .data .text .leftdata p {
    color: var(--paragraph);
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.product .container .productbox .data .text .leftdata .price {
    font-size: 50px;
    color: var(--black);
}

.product .container .productbox .data .text .rightdata i {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--lightcream);
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
}

.product .container .productbox .data .text .rightdata i:hover {
    background-color: #E36C19;
}
















@media (max-width:1650px) {
    .product .container .productbox {
        width: 350px;
    }
}

@media (max-width:1550px) {
    .product .container .productbox {
        width: 320px;
    }
}

@media (max-width:1400px) {
    .product .container .productbox {
        width: 300px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 25px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 11px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 40px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 220px;
    }

}

@media (max-width:1280px) {
    .product .container .productbox {
        width: 280px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 25px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 11px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 40px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 220px;
    }

}

@media (max-width:1200px) {
    .product .container .productbox {
        width: 250px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 25px;
    }

    .product .container .productbox .data {
        padding: 10px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 11px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 30px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 180px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}

@media (max-width:1050px) {
    .product .container .productbox {
        width: 230px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 22px;
    }

    .product .container .productbox .data {
        padding: 10px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 11px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 30px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 180px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}

@media (max-width:990px) {
    .product .container .allproductlist {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product .container .productbox {
        width: 230px;
        margin: 10px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 22px;
    }

    .product .container .productbox .data {
        padding: 10px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 11px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 30px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 180px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}

@media (max-width:760px) {
    .product .container .productbox {
        width: 300px;
        margin: 10px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 30px;
    }

    .product .container .productbox .data {
        padding: 15px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 14px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 40px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 220px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}

@media (max-width:660px) {
    .product .container .productbox {
        width: 250px;
        margin: 10px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 20px;
    }

    .product .container .productbox .data {
        padding: 15px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 12px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 30px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 180px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}

@media (max-width:560px) {
    .product .container .productbox {
        width: 220px;
        margin: 10px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 18px;
    }

    .product .container .productbox .data {
        padding: 15px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 10px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 30px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 150px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}


@media (max-width:500px) {
    .product .container .productbox {
        width: 180px;
        margin: 10px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 16px;
    }

    .product .container .productbox .data {
        padding: 10px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 8px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 25px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 130px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

    .product .container {
        padding: 10px 0px;
    }
    .product .container .allproductlist {
    margin-top: 10px;
}

}


@media (max-width:420px) {
    .product .container .productbox {
        width: 160px;
        margin: 10px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 14px;
    }

    .product .container .productbox .data {
        padding: 10px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 7px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 16px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 110px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}


@media (max-width:390px) {
    .product .container .productbox {
        width: 140px;
        margin: 10px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 12px;
    }

    .product .container .productbox .data {
        padding: 10px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 6px;
        margin: 2px 0px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 16px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 100px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}

@media (max-width:340px) {
    .product .container .productbox {
        width: 100%;
        margin: 10px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .leftdata h4 {
        font-size: 25px;
    }

    .product .container .productbox .data {
        padding: 20px;
    }

    .product .container .productbox .data .text .leftdata p {
        font-size: 12px;
        margin: 2px 0px;
    }

    .product .container .productbox .data .text .leftdata .price {
        font-size: 40px;
        color: var(--black);
    }

    .product .container .productbox .data .image {
        height: 220px;
        border-radius: 12px;
    }

    .product .container .productbox .data .text .rightdata i {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .product .container .productbox .data .text {
        margin-top: 10px;
    }

}