/*---------------------Fonts-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*---------------------Fonts-----------------*/

/*---------------------Roots-----------------*/

:root {
    --lightcream: #F4E6D2;
    --black: #492000;
    --lightbrown: #B6734A;
    --paragraph: #A8957C;
}

/*---------------------Roots-----------------*/

/*---------------------Bodys----------------*/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
    background-color: var(--lightcream);
}

section {
    padding: 20px 120px;
}

::-webkit-scrollbar {
    display: none;
}


/*Arrow*/

/*Arrow*/
.uppericon {
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: none;
    transition: 0.5s all linear;
    z-index: 7;
}

/*Arrow*/




/* media quries */

@media (max-width:4000px) {
    section {
        padding: 20px 500px;
        margin-top: 200px;
    }

    .header {
        margin-top: 0px;
    }

    .hero {
        margin-top: 0px;
    }

    .product {
        margin-top: 250px;
    }
}

@media (max-width:2390px) {
    section {
        padding: 20px 400px;
    }
}

@media (max-width:2190px) {
    section {
        padding: 20px 350px;
    }
}

@media (max-width:2090px) {
    section {
        padding: 20px 250px;

    }
}

@media (max-width:1950px) {
    section {
        padding: 20px 150px;
        margin-top: 150px;
    }

    .header {
        padding: 0px 150px;
    }
}

@media (max-width:1772px) {
    section {
        padding: 20px 100px;
    }
        .header {
        padding: 0px 100px;
    }
}

@media (max-width:1674px) {
    section {
        padding: 20px 80px;
    }
        .header {
        padding: 0px 80px;
    }

}

@media (max-width:1590px) {
    section {
        padding: 20px 60px;
        margin-top: 120px;
    }

    .product {
        margin-top: 150px;
    }
        .header {
        padding: 0px 60px;
    }
}

@media (max-width:1486px) {}

@media (max-width:1390px) {
    section {
        padding: 20px 40px;
    }
        .header {
        padding: 0px 40px;
    }
}

@media (max-width:1280px) {

    html {
        font-size: 80%;
    }

    section {
        padding: 20px 20px;
    }
}

@media (max-width:1080px) {
    section {
        padding: 20px 15px;
        margin-top: 100px;
    }

    .product {
        margin-top: 120px;
    }

}

@media (max-width:780px) {

    section {
        padding: 20px 10px;
        margin-top: 80px;
    }
}

@media (max-width:690px) {}

@media (max-width:550px) {
    .uppericon {
        right: 1%;
        bottom: 20%;
        width: 8%;
    }

    .product {
        margin-top: 80px;
    }
}

@media (max-width:500px) {
    section {
        margin-top: 50px;
    }
}

@media (max-width:450px) {
    .uppericon {
        right: 3%;
        bottom: 8%;
    }

    .product {
        margin-top: 50px;
    }

}

@media (max-width:300px) {}

/* media quries */